/* Content Pages */
.content-page {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page p {
    font-size: 24px;
    color: #666;
    font-weight: bold;
}
